### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_csv)
purchase_data.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

## Player Count

* Display the total number of players

In [73]:
player_count = len(purchase_data['SN'].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
# number of unique items
unique_items_count = len(purchase_data["Item ID"].unique())
unique_items_count

179

In [75]:
# average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [76]:
# total number of purchases
total_purchases = len(purchase_data["Purchase ID"].unique())
total_purchases

780

In [77]:
# total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [78]:
# create a summary data frame
raw_data = pd.DataFrame([{
    "Number of Unique Items": unique_items_count,
    "Average Price": average_price,
    "Total Number of Purchases": total_purchases,
    "Total Revenue": total_revenue
}])
data_frame = pd.DataFrame(raw_data, columns = [
    "Number of Unique Items", "Average Price", "Total Number of Purchases", "Total Revenue"])
data_frame

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [79]:
# calculate purchase count of males
purchase_data_male = purchase_data.loc[purchase_data["Gender"] == "Male"]
purchase_data_male
purchase_count_male = len(purchase_data_male)
purchase_count_male

652

In [80]:
# calculate percentage of males
male_percentage = len(purchase_data_male)/len(purchase_data) * 100
male_percentage

83.58974358974359

In [81]:
# calculate purchase count of females 
purchase_data_female = purchase_data.loc[purchase_data["Gender"] == "Female"]
purchase_data_female
purchase_count_female = len(purchase_data_female)
purchase_count_female

113

In [82]:
# calculate percentage of females
female_percentage = len(purchase_data_female)/len(purchase_data) * 100
female_percentage

14.487179487179489

In [83]:
# calculate average purchase price of males
avg_purchase_price_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()
avg_purchase_price_male

Price    3.017853
dtype: float64

In [84]:
# calculate average purchase price of females
avg_purchase_price_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()
avg_purchase_price_female

Price    3.203009
dtype: float64

In [85]:
# calculate purchase count of non-disclosed
purchase_data_non_disclosed = purchase_data.loc[purchase_data["Gender"] == "Non-Disclosed"]
purchase_data_non_disclosed

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price]
Index: []

In [86]:
# calculate percentage of non-disclosed
non_disclosed_percentage = len(purchase_data_non_disclosed)/len(purchase_data) * 100
non_disclosed_percentage

0.0

In [87]:
# calculate total purchase value for males
total_purchase_value_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
total_purchase_value_male

Price    1967.64
dtype: float64

In [88]:
# calculate total purchase value for females
total_purchase_value_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
total_purchase_value_female

Price    361.94
dtype: float64

In [89]:
# calculate average purchase total per person for males
average_purchase_value_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()
average_purchase_value_male

Price    3.017853
dtype: float64

In [90]:
# calculate average purchase total per person for females
average_purchase_value_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()
average_purchase_value_female

Price    3.203009
dtype: float64

In [91]:
# display the summary dataframe
purchasing_analysis = pd.DataFrame([{
    "Purchase Count M/F": [purchase_count_male, purchase_count_female],
    "Average Purchase Price M/F": [avg_purchase_price_male, avg_purchase_price_female],
    "Total Purchase Value M/F": [total_purchase_value_male, total_purchase_value_female],
    "Average Purchase Total per Person by Gender M/F": [average_purchase_value_male, average_purchase_value_female]},

])
purchasing_analysis

,Purchase Count M/F,Average Purchase Price M/F,Total Purchase Value M/F,Average Purchase Total per Person by Gender M/F
0,"[652, 113]","[[3.0178527607361953], [3.203008849557519]]","[[1967.64], [361.94]]","[[3.0178527607361953], [3.203008849557519]]"

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [92]:
# figure out max age to create bins
max_age = purchase_data["Age"].max()
max_age

45

In [93]:
# figure out min age to create bins
# Figure out the minimum and maximum views for a TED Talk
min_age=purchase_data["Age"].min()
min_age

7

In [94]:
purchase_data_name = purchase_data[["SN", "Gender", "Age"]].drop_duplicates()
purchase_data_name.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [95]:
# create the bins in which data will be held
# bins are 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49
bins_age= [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]

# create the names for the five bins
group_names = ["less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]
purchase_data_name.dtypes

SN        object
Gender    object
Age        int64
dtype: object

In [96]:

purchase_data_name["Age_Bins"] =pd.cut(purchase_data_name["Age"], bins_age, labels=group_names)

purchase_data_name

                SN  Gender  Age      Age_Bins
0          Lisim78    Male   20         20-24
1      Lisovynya38    Male   40         40-44
2       Ithergue48    Male   24         20-24
3    Chamassasya86    Male   24         20-24
4        Iskosia90    Male   23         20-24
..             ...     ...  ...           ...
773         Hala31    Male   21         20-24
774     Jiskjask80    Male   11         10-14
775     Aethedru70  Female   21         20-24
777     Yathecal72    Male   20         20-24
778        Sisur91    Male    7  less than 10

[576 rows x 4 columns]

In [102]:
counts = purchase_data_name["Age_Bins"].value_counts() 
age_demographics = pd.DataFrame({
    "Total Count": counts,
    "Percent": counts/len(purchase_data_name) *100
})
age_demographics = age_demographics.sort_index()
age_demographics

              Total Count    Percent
less than 10           17   2.951389
10-14                  22   3.819444
15-19                 107  18.576389
20-24                 258  44.791667
25-29                  77  13.368056
30-34                  52   9.027778
35-39                  31   5.381944
40-44                  11   1.909722
45-49                   1   0.173611

In [104]:
purchase_data["Age_Bins"] =pd.cut(purchase_data["Age"], bins_age, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,less than 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [107]:
#purchase count
purchase_count=purchase_data.groupby(["Age_Bins"]).count()
purchase_count['Price']

Age_Bins
less than 10     23
10-14            28
15-19           136
20-24           365
25-29           101
30-34            73
35-39            41
40-44            12
45-49             1
Name: Price, dtype: int64

In [110]:
#average purchase price
purchase_price=purchase_data.groupby(["Age_Bins"]).mean()
purchase_price['Price']

Age_Bins
less than 10    3.353478
10-14           2.956429
15-19           3.035956
20-24           3.052219
25-29           2.900990
30-34           2.931507
35-39           3.601707
40-44           3.045000
45-49           1.700000
Name: Price, dtype: float64

In [114]:
#total purchase value
purchase_value=purchase_data.groupby(["Age_Bins"]).sum()
purchase_value["Price"]

Age_Bins
less than 10      77.13
10-14             82.78
15-19            412.89
20-24           1114.06
25-29            293.00
30-34            214.00
35-39            147.67
40-44             36.54
45-49              1.70
Name: Price, dtype: float64

In [117]:
purchase_per_person=purchase_value['Price']/age_demographics["Total Count"]
purchase_per_person

Age_Bins
less than 10    4.537059
10-14           3.762727
15-19           3.858785
20-24           4.318062
25-29           3.805195
30-34           4.115385
35-39           4.763548
40-44           3.321818
45-49           1.700000
dtype: float64

In [119]:
age_bins_data = pd.DataFrame({
    "Purchase Count": purchase_count['Price'],
    "Average Purchase Price": purchase_price['Price'],
    "Purchase Value": purchase_value['Price'],
    "Avg Purchase Total per Person": purchase_per_person
})
age_bins_data

,Purchase Count,Average Purchase Price,Purchase Value,Avg Purchase Total per Person
Age_Bins,,,,
less than 10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40-44,12,3.045000,36.54,3.321818
45-49,1,1.700000,1.70,1.700000

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
#top 5 total purchase value
top_sn=purchase_data.groupby(["SN"]).sum()
top_sn['Price']

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [132]:
#top 5 purchase count
top_purchase_count=purchase_data.groupby(["SN"]).count()
top_purchase_count['Price']

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [137]:
#top5 average purchase count
top_avg_purchase_count=purchase_data.groupby(["SN"]).mean()
top_avg_purchase_count['Price']

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [141]:
top_spenders=pd.DataFrame({
    "Total Purchase Value": top_sn['Price'],
    "Purchase Count": top_purchase_count['Price'],
    "Average Purchase Price": top_avg_purchase_count['Price'],

})
top_spenders = top_spenders.sort_values("Total Purchase Value",ascending=False)
top_spenders.head()

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [159]:
#identify most poular items
most_popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
most_popular_items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [160]:
#groupby item ID, item name
most_popular=most_popular_items.groupby(['Item ID','Item Name'])
most_popular.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [171]:
#calculate purchase count
most_popular_purchase_count = most_popular["Price"].count()
most_popular_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [168]:
#calculate average item price
most_popular_avg_item_price = most_popular["Price"].mean()
most_popular_avg_item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [169]:
#calculate total purchase value
most_popular_total_purchase_value = most_popular_avg_item_price * most_popular_purchase_count
most_popular_total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [178]:
most_popular_df=pd.DataFrame({
    "Item ID": most_popular['Item ID'],
    "Item Name": most_popular['Item Name'],
    "Purchase Count": most_popular_purchase_count,
    "Average Item Price": most_popular_avg_item_price,
    "Total Purchase Value": most_popular_total_purchase_value
})

most_popular_df.head()

,,Item ID,Item Name,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,,,
0,Splinter,"((0, Splinter), [0, 0, 0, 0])","((0, Splinter), [Splinter, Splinter, Splinter,...",4,1.2800,5.12
1,Crucifer,"((1, Crucifer), [1, 1, 1, 1])","((1, Crucifer), [Crucifer, Crucifer, Crucifer,...",4,2.9425,11.77
2,Verdict,"((2, Verdict), [2, 2, 2, 2, 2, 2])","((2, Verdict), [Verdict, Verdict, Verdict, Ver...",6,2.4800,14.88
3,Phantomlight,"((3, Phantomlight), [3, 3, 3, 3, 3, 3])","((3, Phantomlight), [Phantomlight, Phantomligh...",6,2.4900,14.94
4,Bloodlord's Fetish,"((4, Bloodlord's Fetish), [4, 4, 4, 4, 4])","((4, Bloodlord's Fetish), [Bloodlord's Fetish,...",5,1.7000,8.50

In [180]:
#sort the purchase count column in descending order
most_popular_df.sort_values(["Purchase Count"], ascending=False)

,,Item ID,Item Name,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,,,
92,Final Critic,"((92, Final Critic), [92, 92, 92, 92, 92, 92, ...","((92, Final Critic), [Final Critic, Final Crit...",13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm","((178, Oathbreaker, Last Hope of the Breaking ...","((178, Oathbreaker, Last Hope of the Breaking ...",12,4.230000,50.76
145,Fiery Glass Crusader,"((145, Fiery Glass Crusader), [145, 145, 145, ...","((145, Fiery Glass Crusader), [Fiery Glass Cru...",9,4.580000,41.22
132,Persuasion,"((132, Persuasion), [132, 132, 132, 132, 132, ...","((132, Persuasion), [Persuasion, Persuasion, P...",9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands","((108, Extraction, Quickblade Of Trembling Han...","((108, Extraction, Quickblade Of Trembling Han...",9,3.530000,31.77
...,...,...,...,...,...,...
42,The Decapitator,"((42, The Decapitator), [42])","((42, The Decapitator), [The Decapitator])",1,1.750000,1.75
51,Endbringer,"((51, Endbringer), [51])","((51, Endbringer), [Endbringer])",1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic","((118, Ghost Reaver, Longsword of Magic), [118])","((118, Ghost Reaver, Longsword of Magic), [Gho...",1,2.170000,2.17
104,Gladiator's Glaive,"((104, Gladiator's Glaive), [104])","((104, Gladiator's Glaive), [Gladiator's Glaive])",1,1.930000,1.93
91,Celeste,"((91, Celeste), [91])","((91, Celeste), [Celeste])",1,4.170000,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [181]:
most_profitable_table = most_popular_df.sort_values(["Total Purchase Value"], ascending=False).head()
most_profitable_table

,,Item ID,Item Name,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,,,
92,Final Critic,"((92, Final Critic), [92, 92, 92, 92, 92, 92, ...","((92, Final Critic), [Final Critic, Final Crit...",13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm","((178, Oathbreaker, Last Hope of the Breaking ...","((178, Oathbreaker, Last Hope of the Breaking ...",12,4.230000,50.76
82,Nirvana,"((82, Nirvana), [82, 82, 82, 82, 82, 82, 82, 8...","((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...",9,4.900000,44.10
145,Fiery Glass Crusader,"((145, Fiery Glass Crusader), [145, 145, 145, ...","((145, Fiery Glass Crusader), [Fiery Glass Cru...",9,4.580000,41.22
103,Singed Scalpel,"((103, Singed Scalpel), [103, 103, 103, 103, 1...","((103, Singed Scalpel), [Singed Scalpel, Singe...",8,4.350000,34.80